---
import cx from "classnames";
import Logo from "@assets/logo_small.svg";
import { CgMenuLeftAlt } from "react-icons/cg";
import { Cart } from "./Cart";
import { Icon } from "astro-icon";

type NavLinks = { text: string; href: string };

const services: NavLinks[] = [
  { text: "Climbing", href: "/climbing" },
  { text: "Wood shop", href: "/woodshop" },
  { text: "3D Prints", href: "/printing" },
];

const navLinks: NavLinks[] = [
  { text: "Contact", href: "/contact" },
  { text: "About", href: "/about" },
];
---

<nav
  class={cx(
    "sticky top-0 left-0 h-max",
    "z-50 isolate",
    "font-[500] text-slate-600"
  )}
>
  {/* desktop size */}
  <div class={cx("hidden md:block", "bg-white w-full")}>
    <div
      class={cx(
        "w-full max-w-7xl mx-auto p-5",
        "flex justify-between items-center"
      )}
    >
      <div class="flex items-center gap-10">
        <a href="/">
          <img src={Logo} alt="J&B" class="w-16" />
        </a>

        <ul class="flex items-center gap-5">
          {
            services.map(({ text, href }) => (
              <li>
                <a href={href}>{text}</a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="flex items-center gap-10">
        <ul class="flex items-center gap-5">
          {
            navLinks.map(({ text, href }) => (
              <li>
                <a href={href}>{text}</a>
              </li>
            ))
          }
        </ul>
        <Cart client:load />
      </div>
    </div>
  </div>

  {/* mobile size */}
  <div
    class={cx(
      "md:hidden",
      "flex justify-between items-center",
      "bg-white h-12 px-3",
      "border border-b-slate-100"
    )}
  >
    <CgMenuLeftAlt role="button" id="menu-open" title="open menu" size={24} />

    <a href="/">
      <img src={Logo} alt="home page" class="w-16" loading="lazy" />
    </a>

    <a>
      <Cart client:load />
    </a>
  </div>

  <div
    id="nav-links-mobile"
    class={cx(
      "bg-white/20 backdrop-blur",
      "absolute top-0 h-[100vh] w-full",
      "p-5"
    )}
  >
    <div
      class={cx(
        "bg-slate-900 text-slate-50",
        "h-full w-max p-10",
        "rounded-md",
        "flex flex-col justify-between items-start",
        "shadow-md shadow-slate-800/30"
      )}
    >
      <Icon
        pack="ic"
        name="round-chevron-left"
        size="24"
        class={cx(
          "chev",
          "cursor-pointer rotate-45 z-50",
          "absolute top-8 left-8"
        )}
        role="button"
      />

      <ul>
        {
          services.map(({ text, href }) => (
            <li>
              <a href={href}>{text}</a>
            </li>
          ))
        }
      </ul>

      <ul>
        {
          navLinks.map(({ text, href }) => (
            <li>
              <a href={href}>{text}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>

<style>
  #nav-links-mobile {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transition: clip-path;
    transition-duration: 200ms;
  }

  #nav-links-mobile.open {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
</style>

<script>
  const navlinks = document.getElementById("nav-links-mobile");
  const openMenu = document.getElementById("menu-open");
  const chevronClose = document.querySelector(".chev");

  const toggleMenu = () => navlinks?.classList.toggle("open");
  openMenu?.addEventListener("click", toggleMenu);
  chevronClose?.addEventListener("click", toggleMenu);
</script>
